209 Circular logic


how many 6-input binary truth tables satisfy

$$
\tau(a,b,c,d,e,f) \text{ AND } \tau(b,c,d,e,f, a \text{ XOR } (b \text{ AND } c) = 0
$$
For all 6-bit inputs $(a,b,c,d,e,f)$?

There are $2^6$ distinct inputs to a single one of these truth tables. A table is defined by the collection of 0s or 1s, a single bit assigned to each unique collection of inputs.

So, there are $2^6$ slots, and each can be either a 0 or 1. There are $(2^6)^6 = 2^{36} = 68719476736$ of these truth tables.

That last part is strange.
a XOR (b AND c).

In [3]:
import pandas as pd
import numpy as np

In [4]:
list(map(lambda x: bin(x, "3%"), range(8)))

['0b0', '0b1', '0b10', '0b11', '0b100', '0b101', '0b110', '0b111']

In [7]:
'{}'.format(42/13)

'3.230769230769231'

In [9]:
'{:f}'.format(42/13)

'3.230769'

In [11]:
'{:30f}'.format(42/13)

'                      3.230769'

In [19]:
'{:.10}'.format(42/13)

'3.230769231'

Let's collect all the inputs.

In [51]:
tha_inputs = np.array([
    list('{:>06}'.format(bin(numbo).split('b')[1]))
    for numbo in range(64)                                          
]).astype(int)
tdf = pd.DataFrame(tha_inputs, columns = list('abcdef'))
tdf

    a  b  c  d  e  f
0   0  0  0  0  0  0
1   0  0  0  0  0  1
2   0  0  0  0  1  0
3   0  0  0  0  1  1
4   0  0  0  1  0  0
.. .. .. .. .. .. ..
59  1  1  1  0  1  1
60  1  1  1  1  0  0
61  1  1  1  1  0  1
62  1  1  1  1  1  0
63  1  1  1  1  1  1

[64 rows x 6 columns]

In [65]:
tdf['a^(b&c)'] = (tdf['a'] ^( tdf['b'] & tdf['c'] ))

In [66]:
tdf.sum()

a          32
b          32
c          32
d          32
e          32
f          32
a^(b&c)    32
dtype: int64

In [68]:
tdf[tdf['a^(b&c)'] == 1]

a  b  c  d  e  f  a^(b&c)
0  1  1  0  0  0  1          1
               1  1          1
1  1  0  1  1  0  1          1
            0  1  1          1
               0  1          1
         0  1  1  1          1
               0  1          1
            0  1  1          1
               0  1          1
   0  1  1  1  1  1          1
               0  1          1
            0  1  1          1
               0  1          1
         0  1  1  1          1
               0  1          1
            0  1  1          1
               0  1          1
      0  1  1  1  1          1
               0  1          1
            0  1  1          1
               0  1          1
         0  1  1  1          1
               0  1          1
            0  1  1          1
               0  1          1
0  1  1  1  1  1  1          1
               0  1          1
            0  1  1          1
               0  1          1
         0  1  1  1          1
               0  1          1
1  1  0  1  1  1  1          1
dtype: int64