The ackermann function
---

Find 

$$
\sum_{n=0}^{6} A(n,n)
$$
and give the answer to mod $14^8$.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
def ack(m,n):
    if m == 0:
        return n+1
    elif m > 0 and n == 0:
        return ack(m-1,1)
    elif m > 0 and n > 0:
        return ack(m-1, ack(m, n-1))
    else:
        raise(ValueError('m and n must be nonnegative.'))
        
def ack_df(m,n,dataframe):
    if (m,n) not in dataframe.index:
        dataframe.loc[(m,n), 'ack'] = np.nan
    if dataframe.isna().loc[(m,n), 'ack']:
        if m == 0:
            ack_val = n+1
            dataframe.loc[(m,n), 'ack'] = ack_val
            return n+1
        elif m > 0 and n == 0:
            ack_val = ack_df(m-1,1, dataframe)
            dataframe.loc[(m,n), 'ack'] = ack_val
            return ack_val
        elif m>0 and n>0:
            ack_val = ack_df(m-1, ack_df(m, n-1, dataframe), dataframe)
            dataframe.loc[(m,n), 'ack'] = ack_val
            return ack_val
    else:
        return dataframe.loc[(m,n), 'ack']

In [3]:
ack(1,0)

2

In [4]:
ack(2,2)

7

In [5]:
ack(3,4)

125

In [6]:
df = pd.DataFrame([], columns = ['ack'], index=pd.MultiIndex.from_product([range(0,1),range(0,1)]))
df.index.set_names(('m','n'), inplace=True)

In [7]:
ack_df(3,3, df)

61

In [8]:
ack_df(3,4, df)

125

In [9]:
df.loc[sorted(df.index)]

     ack
m n
0 0  NaN
  1    2
  2    3
  3    4
  4    5
..   ...
3 0    5
  1   13
  2   29
  3   61
  4  125

[316 rows x 1 columns]

In [38]:
df = df.loc[sorted(df.index)]
df.to_csv('0282_ack.csv')

In [10]:
df

       ack
m n
0 0    NaN
3 3     61
  2     29
  1     13
  0      5
...    ...
0 122  123
1 123  125
  122  124
0 123  124
  124  125

[316 rows x 1 columns]