pandigital products
---
We shall say that an n-digit number is pandigital if it makes use of all the digits 1 to n exactly once; for example, the 5-digit number 15234, is 1 through 5 pandigital.

The product 7254 is unusual, as the identity, 39 x 186 = 7254, containing multiplicand, multiplier, and product is 1 through 9 pandigital.

Find the sum of all products whose multiplicand/multiplier/product identity can be written as a 1 through 9 pandigital.

HINT: Some products can be obtained in more than one way so be sure to only include it once in your sum.

In [1]:
import numpy as np
import pandas as pd

In [2]:
digits = list(map(str, range(1, 10)))
digits

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [20]:
def is_pandigital_product(factor1, factor2):
    f1_digits = [digit for digit in str(factor1)]
    f2_digits = [digit for digit in str(factor2)]
    #check if there's any overlap. Not a pandigital product automatically.
    if len(np.intersect1d(f1_digits, f2_digits)) > 0:
        return False
    product = factor1*factor2
    product_digits = [digit for digit in str(product)]
    all_digits = f1_digits + f2_digits + product_digits
    return set(all_digits) == set(digits) and len(all_digits) == len(digits)

In [22]:
is_pandigital_product(39, 186)

True

In [14]:
np.unique(Out[9])

array(['1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='<U1')

In [16]:
set(np.unique(digits))

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

What's the largest possible pandigital product? Can there be any numbers in the 100k range?
I don't think so.

In [25]:
np.sqrt(123456)

351.363060095964

how about 10k?

In [27]:
np.sqrt(12345)

111.1080555135405

Possibly.

In [28]:
1*2345678

2345678

In [29]:
import sympy as sp

In [33]:
sp.primefactors(7254)

[2, 3, 13, 31]

In [32]:
_*3

7254

In [34]:
pandf = pd.DataFrame([], columns = ['number', 'factors'])

In [46]:
current_log = 2
for factor1 in range(int(10**2),int( 1e4)):
    if factor1 >= 10**current_log:
        print(f'Checking factors above {10**current_log}.')
        current_log += 1
    for factor2 in range(factor1, int(1e4)):
        if is_pandigital_product(factor1, factor2):
            print(f'Found pandigital product:\t{factor1}\tx\t{factor2}\t=\t{factor1*factor2}')
            pandf = pd.concat([pandf, pd.DataFrame([[factor1*factor2, [factor1,factor2]]], columns = ['number', 'factors'])], ignore_index = True)

Checking factors above 100.
Checking factors above 1000.

In [47]:
pandf

   number    factors
0    6952  [4, 1738]
1    7852  [4, 1963]
2    6952  [4, 1738]
3    7852  [4, 1963]
4    5796  [12, 483]
5    5346  [18, 297]
6    5346  [27, 198]
7    4396  [28, 157]
8    7254  [39, 186]
9    5796  [42, 138]
10   7632  [48, 159]
11   6952  [4, 1738]
12   7852  [4, 1963]
13   5796  [12, 483]
14   5346  [18, 297]
15   5346  [27, 198]
16   4396  [28, 157]

In [49]:
sum(pandf['number'].unique())

45228

In [40]:
pd.concat([pandf, pd.DataFrame([[3*7, [3,7]]], columns = ['number','factors'])], ignore_index=True)

  number factors
0     21  [3, 7]