Digit factorials
---

145 is a curious number, as $1! + 4! + 5! = 1 + 24 + 120 = 145$.

Find the sum of all numbers which are equal to the sum of the factorial of their digits.

(note: as 1! = 1 and 2! = 2 are not sum, they are not included).

In [54]:
import numpy as np
import pandas as pd

def fact(num, dataframe):
    if num < 0:
        raise(ValueError("Can't take factorial of a negative number without getting a mathematician too excited. Turn back."))
    elif num == 0:
        return 1
    elif num == 1:
        return 1
    elif num in dataframe.index:
        return int(dataframe.loc[num, 'factorial'])
    else:
        factorial = int(num * fact(num-1, dataframe))
        dataframe.loc[num, 'factorial'] = factorial
        return factorial
    
def digit_factorial_sum(number, df):
    stringed_num = str(number)
    the_facts = map(lambda numbo: fact(int(numbo), df), [digit for digit in stringed_num])
    summed_facts = sum(the_facts)
    return summed_facts

fdf = pd.DataFrame([2], columns = ['factorial'], index = [2]).astype(int)

fact(9, fdf)
fdf = fdf.astype(int)
fdf

   factorial
2          2
3          6
4         24
5        120
6        720
7       5040
8      40320
9     362880

In [51]:
digit_factorial_sum(145, fdf)

145

It seems that a number of all 2s will never rise high enough.
A number of all 9s is always going to be too big a sum.

No number less than 5040 can have a 7 in it and be the sum of its digit factorials.
No number less than 40320 can have an 8 in it and...
No number less than 362880 can have a 9 in it and ...

999000 might be something close to its factorial sum.

In [57]:
digit_factorial_sum(999000,fdf)

1088643

only off by about 90k.

But there must be a largest number that works, right? Let's just look at the lowest...

In [74]:
df = pd.DataFrame( np.transpose(range(10, 1000001)), columns = ['number'])
df['factorial_sum'] = df['number'].apply(lambda x: digit_factorial_sum(x, fdf))
df['fact_sum_equal'] = df['factorial_sum'] == df['number']
df

%time

CPU times: total: 0 ns
Wall time: 0 ns

         number  factorial_sum  fact_sum_equal
0            10              2           False
1            11              2           False
2            12              3           False
3            13              7           False
4            14             25           False
...         ...            ...             ...
999986   999996        1815120           False
999987   999997        1819440           False
999988   999998        1854720           False
999989   999999        2177280           False
999990  1000000              7           False

[999991 rows x 3 columns]

In [ ]:
df[df['fact_sum_equal']]