Largest Exponential
---

Using base_exp.txt (right click and 'Save Link/Target As...'), a 22K text file containing one thousand lines with a base/exponent pair on each line, determine which line number has the greatest numerical value.

NOTE: The first two lines in the file represent the numbers in the example given above.

In [5]:
import numpy as np
import pandas as pd
from IPython.display import clear_output

In [6]:
np.math.log(2354245)

14.671730639551429

Game plan: put the numbers in the same base and simply compare the exponents.

They'll also be in the same order as ln(b) x ln(a)

Since a number
$$
a^b = (e^{\ln a})^b = e^{b \ln a},
$$
Let's just compare b ln a.

No. even better. ln b * ln a.

In [26]:
df = pd.read_csv('0099_base_exp.txt', header=None)
df.columns = ['a', 'b']
df['log_a'] = df['a'].apply(np.math.log)
df['blna'] = df.apply(lambda row: row['log_a']*row['b'], axis = 1)
df['log_b'] = df['b'].apply(np.math.log)
df['lnblna'] = df.apply(lambda row: row['log_a']*row['log_b'], axis = 1)
df

          a       b      log_a          blna      log_b      lnblna
0    519432  525806  13.160491  6.919865e+06  13.172688  173.359039
1    632382  518061  13.357249  6.919870e+06  13.157848  175.752655
2     78864  613712  11.275480  6.919897e+06  13.327281  150.271493
3    466580  530130  13.053185  6.919885e+06  13.180878  172.052430
4    780495  510032  13.567684  6.919953e+06  13.142229  178.309602
..      ...     ...        ...           ...        ...         ...
995  667229  515991  13.410889  6.919898e+06  13.153845  176.404745
996  672276  515708  13.418424  6.919989e+06  13.153296  176.496506
997  325361  545187  12.692691  6.919890e+06  13.208884  167.656280
998  172115  573985  12.055918  6.919916e+06  13.260359  159.865797
999   13846  725685   9.535752  6.919952e+06  13.494871  128.683742

[1000 rows x 6 columns]

In [22]:
df.loc[3,'blna']

6919884.844444524