Investigating Ulam Sequences
---

For two positive integers $a$ and $b$, the Ulam sequence is defined by
$$
\left\{
\begin{array}{rll}
U(a,b)_1 &= a \\
U(a,b)_2 &= b \\
U(a,b)_{k>2} &= \text{The smallest integer greater than }U(a,b)_{k-1}\text{ writable as } U(a,b)_i + U(a,b)_j, i\neq j
\end{array}
\right.
$$


Find
$$
\sum_{n=2}^{10} U(2, 2n+1)_k,
$$
where $k = 10^{11}$.

In [79]:
import pandas as pd
import numpy as np

ulam_parameters = [
       [a,b,k]
    for a in range(1,5)
    for b in range(1,13)
    for k in range(1,51)
]

ulam_columns = ['a','b','k']
udf = pd.DataFrame(ulam_parameters, columns = ulam_columns)
udf['ulam'] = np.nan
udf.loc[udf['k']==1,'ulam'] = udf.loc[udf['k']==1,'a']
udf.loc[udf['k']==2,'ulam'] = udf.loc[udf['k']==2, 'b']
udf.index.rename('index', inplace = True)
udf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2400 entries, 0 to 2399
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2400 non-null   int64
 1   b       2400 non-null   int64
 2   k       2400 non-null   int64
 3   ulam    96 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 75.1 KB

In [80]:
udf.head()

       a  b  k  ulam
index
0      1  1  1   1.0
1      1  1  2   1.0
2      1  1  3   NaN
3      1  1  4   NaN
4      1  1  5   NaN

In [81]:
udf.describe()

                 a            b            k       ulam
count  2400.000000  2400.000000  2400.000000  96.000000
mean      2.500000     6.500000    25.500000   4.500000
std       1.118267     3.452772    14.433877   3.270281
min       1.000000     1.000000     1.000000   1.000000
25%       1.750000     3.750000    13.000000   2.000000
50%       2.500000     6.500000    25.500000   3.500000
75%       3.250000     9.250000    38.000000   6.250000
max       4.000000    12.000000    50.000000  12.000000

In [82]:
udf[udf['ulam'].notna()]

       a   b  k  ulam
index
0      1   1  1   1.0
1      1   1  2   1.0
50     1   2  1   1.0
51     1   2  2   2.0
100    1   3  1   1.0
...   ..  .. ..   ...
2251   4  10  2  10.0
2300   4  11  1   4.0
2301   4  11  2  11.0
2350   4  12  1   4.0
2351   4  12  2  12.0

[96 rows x 4 columns]

Generate some of the smaller ulam numbers by brute force.

In [128]:
def get_ulam_from_df(a,b,k, df):
    """
    Blindly return the value stored in the dataframe's ulam given a,b, and k.
    Does not check if the value is valid, or null, or if the given collection of a,b,k are present.
    """
    ulam_val = df.loc[
        (df['a'] == a) & (df['b'] == b) & (df['k'] == k),
        'ulam'
    ]
    return ulam_val
    

def ulam(a, b, k, df):
    """
    Return the ulam number U(a,b)_k.
    First, it consults the dataframe for a value if it's already there.
    If not, it attempts to generate it.
    """
    if a<1 or b<1 or k<1 or type(a) != int or type(b) != int or type(k)!= int:
        raise(
            ValueError('Use positive integers for a, b, k.'))
    dataframe_value = get_ulam_from_df(a,b,k,df)
    if dataframe_value.notna().iloc[0]:
        return dataframe_value
    else:
        last_ulam_number = ulam(a, b, k-1, df)
        this_previous_ulam_mask = (df['a'] == a) & (df['b'] == b) & df['ulam'].notna()
        all_previous_ulam_numbers = df.loc[this_previous_ulam_mask, 'ulam']
        this_ulam_candidate = last_ulam_number
        searching_for_next_ulam_number = True
        while searching_for_next_ulam_number:
            this_ulam_candidate += 1
            # print(f'{this_ulam_candidate}')
            all_previous_ulam_sums = np.array([
                all_previous_ulam_numbers.iloc[index1] + all_previous_ulam_numbers.iloc[index2]
                for index1 in range(len(all_previous_ulam_numbers) - 1)
                for index2 in range(index1+1, len(all_previous_ulam_numbers))
            ])
            num_sums_are_this_candidate = (all_previous_ulam_sums == this_ulam_candidate).sum()
            if num_sums_are_this_candidate == 1:
                searching_for_next_ulam_number != searching_for_next_ulam_number
                df.loc[this_previous_ulam_mask & (df['k'] == k), 'ulam'] = this_ulam_candidate
            else:
                pass
    return this_ulam_candidate

In [131]:
udf.loc[
       (udf['a'] == 2) & (udf['b'] == 2)
]

       a  b   k  ulam
index
650    2  2   1   2.0
651    2  2   2   2.0
652    2  2   3   NaN
653    2  2   4   NaN
654    2  2   5   NaN
655    2  2   6   NaN
656    2  2   7   NaN
657    2  2   8   NaN
658    2  2   9   NaN
659    2  2  10   NaN
660    2  2  11   NaN
661    2  2  12   NaN
662    2  2  13   NaN
663    2  2  14   NaN
664    2  2  15   NaN
665    2  2  16   NaN
666    2  2  17   NaN
667    2  2  18   NaN
668    2  2  19   NaN
669    2  2  20   NaN
670    2  2  21   NaN
671    2  2  22   NaN
672    2  2  23   NaN
673    2  2  24   NaN
674    2  2  25   NaN
675    2  2  26   NaN
676    2  2  27   NaN
677    2  2  28   NaN
678    2  2  29   NaN
679    2  2  30   NaN
680    2  2  31   NaN
681    2  2  32   NaN
682    2  2  33   NaN
683    2  2  34   NaN
684    2  2  35   NaN
685    2  2  36   NaN
686    2  2  37   NaN
687    2  2  38   NaN
688    2  2  39   NaN
689    2  2  40   NaN
690    2  2  41   NaN
691    2  2  42   NaN
692    2  2  43   NaN
693    2  2  44   NaN
694    2  2  45   NaN
695    2  2  46   NaN
696    2  2  47   NaN
697    2  2  48   NaN
698    2  2  49   NaN
699    2  2  50   NaN

In [130]:
ulam(2,2,3, udf)

KeyboardInterrupt: