Prime permutation
---

1487, 4817, 8147 each increase by 3330, are all prime, and are all permutations of another. What's the other like this?

In [1]:
import sympy as sp
import numpy as np

In [2]:
p4d = list(sp.primerange(1000,100000))

In [3]:
len(p4d)

9424

In [4]:
diffs = np.array([ [abs(thing1 - thing2) for thing1 in p4d] for thing2 in p4d])

In [5]:
diffs.shape

(9424, 9424)

In [6]:
import pandas as pd

In [7]:
diffUp = [
    [row, col, diffs[row,col]]
    for row in range(len(diffs))
    for col in range(row, len(diffs[row]))
]

ddf = pd.DataFrame(diffUp, columns = ['row','col','difference'])
ddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44410600 entries, 0 to 44410599
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   row         int64
 1   col         int64
 2   difference  int64
dtypes: int64(3)
memory usage: 1016.5 MB

In [8]:
ddf['prime1'] = ddf['row'].apply(lambda num: p4d[num])
ddf['prime2'] = ddf['col'].apply(lambda num: p4d[num])

In [9]:
ddf[ddf['difference'] == 3330]

           row   col  difference  prime1  prime2
424          0   424        3330    1009    4339
19270        2   425        3330    1019    4349
47532        5   427        3330    1033    4363
85200        9   429        3330    1061    4391
122853      13   432        3330    1091    4421
...        ...   ...         ...     ...     ...
44364524  9120  9404        3330   96457   99787
44365432  9123  9406        3330   96479   99809
44365733  9124  9407        3330   96487   99817
44366033  9125  9408        3330   96493   99823
44369271  9136  9423        3330   96661   99991

[3158 rows x 5 columns]

In [10]:
4339-1009

3330

In [13]:
#find instances of same differences with the same number as prime1 and prime2.



#takes too long to evaluate. find a different method than this.
matches = {}
for difference in ddf['difference'].unique():
    diff_mask = ddf['difference'] == difference
    these_prime1s = ddf.loc[diff_mask, 'prime1']
    these_prime2s = ddf.loc[diff_mask, 'prime2']
    this_intersection = np.intersect1d(these_prime1s, these_prime2s)
    if len(this_intersection) > 0:
        matches.update({difference:this_intersection})

len(matches)

KeyboardInterrupt